#add-assessment-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#marksheet-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
}