#student-div{
	display: none;
}

#student-result-div{
	display: none;
}

#student-fee-div{
	display: none;
}

#student-challan-div{
	display: none;
}

#payment-div{
	display: none;
}

#invoice-id{
	/*display: none;*/
}