#student-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#student-result-container{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#student-fee-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#new-challan-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 4;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#new-challan-student{
	display: none;
}

#student-challan-div{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: 4;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#payment-div{
	display: none;
}

#invoice-id{
	display: none;
}

#print-view{
/*	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 0;
	width: 100%;
	height: 100%;*/
}


@media print{
	#student-challan-div{
		position: absolute;
		top:0;
		left: 0;
		background-color: #fff;
		z-index: 4;
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	.dismiss-btn{
		display: none;
	}

	#print-btn-div{
		display: none;
	}
}

#search-result-div{
	width: 512px;
	margin: 0 auto;
}

#search-result-tab{
	border: 1px solid #98DAF1;
}

#search-result-tab th{
	border: 1px solid #98DAF1;
	padding: 8px;
	background-color:  #29ABE2;
	color: #fff;
}

#search-result-tab td{
	border: 1px solid #98DAF1;
	padding: 8px;
}

.detail-btn-class{
	border: none;
	outline: none;
	background: rgba(0,0,0,0);
}

.detail-btn-class:hover{
	cursor: pointer;
}